#root {
  color: red;
}

body {
  background-color: rgb(239, 239, 239);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: orange;
  width: 100%;
  padding: 20px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-bottom: 100px;
}

.episode-card {
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin: 0;
}

.episode-card p {
  text-align: left;
  padding: 0 120px;
}

.episode-card h3 {
  padding: 20px;
  border: solid 2px black;
  border-radius: 10px;
  margin-top: 0;
}

.episode-card p {
  color: gray;
}
